services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "20000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # node:
  #   image: node:latest
  #   container_name: node_app
  #   working_dir: /app
  #   volumes:
  #     - .:/app
  #   ports:
  #     - "3000:3000"
  #   command: >
  #     sh -c "npm install && tail -f /dev/null"
  #   depends_on:
  #     - postgres

volumes:
  postgres_data: